@using StoryCreator.Web.Models.Rooms.Create

@model CreateRoomVm

<h4>CreateRoomActionVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="createRoomActionForm" onsubmit="return onSubmit(Event)">

            @for (int i = 0; i < Model.RoomActions.Count; i++)
            {
                <input hidden asp-for="@Model.RoomActions[i].Description" />
                <input hidden asp-for="@Model.RoomActions[i].RoomToNavigateId" />
                <input hidden asp-for="@Model.RoomActions[i].DialogueToOpenId" />
                <input hidden asp-for="@Model.RoomActions[i].ActionType" />
            }
           
            <button type="button" id="submitBtn" class="btn btn-primary">Save</button>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreateRoomAction.Id" class="control-label"></label>
                <input asp-for="CreateRoomAction.Id" class="form-control" />
                <span asp-validation-for="CreateRoomAction.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateRoomAction.Description" class="control-label"></label>
                <input asp-for="CreateRoomAction.Description" class="form-control" />
                <span asp-validation-for="CreateRoomAction.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateRoomAction.RoomToNavigateId" class="control-label"></label>
                <input asp-for="CreateRoomAction.RoomToNavigateId" class="form-control" />
                <span asp-validation-for="CreateRoomAction.RoomToNavigateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateRoomAction.DialogueToOpenId" class="control-label"></label>
                <input asp-for="CreateRoomAction.DialogueToOpenId" class="form-control" />
                <span asp-validation-for="CreateRoomAction.DialogueToOpenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateRoomAction.ActionType" class="control-label"></label>
                <input asp-for="CreateRoomAction.ActionType" class="form-control" />
                <span asp-validation-for="CreateRoomAction.ActionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
