@model StoryCreator.Web.Models.Rooms.Create.CreateRoomVm

<h4>Criar Room Content</h4>
<hr />
<div class="row">
    <form id="createRoomContentForm" asp-action="_CreateRoomContent" onsubmit="return onSubmitContent(Event)">


        @for (int i = 0; i < Model.RoomContents.Count; i++)
        {
            <input hidden asp-for="@Model.RoomContents[i].Id" />
            <input hidden asp-for="@Model.RoomContents[i].RoomId" />
            <input hidden asp-for="@Model.RoomContents[i].Content" />
        }

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <div class="col-md-12">
                <label asp-for="CreateRoomContent.Content" class="control-label"></label>
                <textarea asp-for="CreateRoomContent.Content" class="form-control"></textarea>
                <span asp-validation-for="CreateRoomContent.Content" class="text-danger"></span>
            </div>
        </div>

      

        <div class="form-group">
            <input type="button" id="submitContentBtn" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

