
@using StoryCreator.Web.Models.Rooms.Create

@model CreateRoomVm



<div class="row">
    @Html.Partial("_CreateRoomContent", Model)
</div>

<div class="row">
    @Html.Partial("_RoomContentsIndex", Model.RoomContents)
</div>

