@model StoryCreator.Web.Models.Rooms.Create.CreateRoomVm

@{
    ViewData["Title"] = "Create";
}

<h2>Criar Room</h2>

<hr />
<div id="roomPage">
    <form id="createRoomForm" onsubmit="return onSubmitRoom(Event)" class="form-horizontal">

        <div class="row">
            <div class="form-group">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-4">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="RoomName" class="control-label"></label>
                    <input asp-for="RoomName" class="form-control" />
                    <span asp-validation-for="RoomName" class="text-danger"></span>
                </div>
            </div>
        </div>

    </form>


    <div class="row">
        <div id="roomActions">
            @Html.Partial("_RoomActions", Model)
        </div>
    </div>


    <div class="row">
        <div id="roomContents">
            @Html.Partial("_RoomContents", Model)
        </div>
    </div>

    <div class="row">
        <input id="submitBtn" type="button" value="Save" class="btn btn-primary" />
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Rooms/CreateRoom.js"></script>
}
