@model StoryCreator.Web.Models.Rooms.Create.CreateRoomVm

@{
    ViewData["Title"] = "Create";
}

<h2>Criar Room</h2>

<hr />
<div class="row">
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>

    <div class="col-md-12">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomName" class="control-label"></label>
                <input asp-for="RoomName" class="form-control" />
                <span asp-validation-for="RoomName" class="text-danger"></span>
            </div>
        </div>

    </div>

    <div class="col-md-12" id="roomActions">
        @Html.Partial("_RoomActions", Model)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>

    $(document).ready(function () {
        alert('teste');

        $('#submitBtn').click(function (evt) {
            alert('wow');
            onSubmit(evt);
        });
    });
    function onSubmit(e) {

        e.preventDefault();

        debugger

        $.ajax({
            type: 'post',
            url: './CreateRoomAction',
            data: $('#createRoomActionForm').serialize(),
            success: function (result) {
            },
            error: function (result) {

            }

        });
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
