@model StoryCreator.Web.Models.Rooms.Create.CreateRoomVm

@{
    ViewData["Title"] = "Create";
}

<h2>Criar Room</h2>

<hr />
<div id="roomPage">
    <form id="createRoomForm" onsubmit="return onSubmitRoom(Event)" class="form-horizontal">

        <div class="row">
            <div class="form-group">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-4">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
            </div>
        </div>

        <hr />
        <div class="row">
            <h4>Room Name</h4>
            <div class="form-group">
                <div class="col-md-4">
                    @foreach (var item in Model.CultureNames)
                    {
                        <label class="control-label">@item.Key</label>
                        <input asp-for="CultureNames[item.Key]" type="text" class="form-control" />
                    }
                </div>
            </div>
        </div>

    </form>

    <hr />

    <div class="row">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#roomActions">Room Actions</button>
        <div id="roomActions" class="collapse">
            @Html.Partial("_RoomActions", Model)
        </div>
    </div>


    <div class="row">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#roomContents">Room Contents</button>
        <div id="roomContents" class="collapse">
            @Html.Partial("_RoomContents", Model)
        </div>

    </div>

    <div class="row">
        <input id="submitBtn" type="button" value="Save" class="btn btn-primary" />
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Rooms/CreateRoom.js"></script>
}
